/* Общие элементы */
ul.pixel-tabs {
    margin: 0;
    padding: 0;
}
ul.pixel-tabs li {
    display: inline-block;
    line-height: 30px;
    border: 1px solid #999;
    border-bottom: 0 none;
}
ul.pixel-tabs [aria-selected="false"] {
    border-bottom: 1px solid #999;
    background: #eee;
    height: 29px;
}
ul.pixel-tabs li a {
    display: block;
    color: #666;
    text-decoration: none;
    display: block;
    padding: 0px 12px;
    white-space: nowrap;
}
ul.pixel-tabs li a:focus {
    outline: thin dotted;
    outline-offset: -2px;
}
ul.pixel-tabs li a:hover {
    background: #fff;
}
/* Активно */
ul.pixel-tabs [aria-selected="true"] {
    background: #fff;
    border-bottom: 0 none;
}
/* Содержание */
.content-region {
    border: 1px solid #999;
    margin: -1px 0 0 0;
    padding: 20px;
}
.content-region [aria-hidden="true"] {
    display: none;
}